@charset "UTF-8";
html {
  color: #222222;
  font-weight: normal;
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  direction: ltr;
}

main {
  display: block;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  border-width: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, ol, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}

hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
}

pre {
  font-size: 1em;
  /* 2 */
  font-family: monospace, monospace;
  /* 1 */
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-size: 1em;
  font-family: monospace, monospace;
}

small {
  font-size: 80%;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  width: 100%;
  height: 100%;
  border-style: none;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-size: 100%;
  line-height: 1.15;
  font-family: inherit;
}

button, input {
  overflow: visible;
}

button, select {
  /* 1 */
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

cite {
  font-style: normal;
}

fieldset {
  margin: 0;
  padding: 0;
  border-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f0f0ff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  background: #f0f0ff;
  color: rgba(255, 255, 255, 0.7);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 90%;
  height: 60px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.15);
}

.header-container::before {
  position: absolute;
  top: 20px;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  border-radius: 30px;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  background: rgba(0, 0, 0, 0.06);
  content: "";
}

.header-texts {
  position: relative;
  z-index: 100;
  width: 100%;
  margin-top: 10px;
}

.header__logo {
  font-weight: bold;
  font-size: 2rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__text {
  margin-top: 5px;
  font-size: 1.3rem;
}

.header-nav {
  margin-right: 85px;
}

.header-nav__menu {
  display: none;
  font-size: 1.2rem;
}

.header-nav__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: auto;
  height: 114px;
  margin-left: 30px;
}

.header-nav__menu-item a {
  height: 100%;
  padding-top: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}

.top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 20px;
}

.top-content__twitter-wrapper {
  width: 70%;
  height: 300px;
  margin-top: 20px;
  overflow: auto;
  border-radius: 30px;
  -webkit-filter: drop-shadow(0 20px 6px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0 20px 6px rgba(0, 0, 0, 0.06));
}

.top-content__scroll-wrapper {
  position: relative;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 85%;
}

.top-content__scroll-wrapper::before {
  position: absolute;
  top: 20px;
  left: 3px;
  width: 75px;
  height: 3px;
  overflow: hidden;
  border-radius: 100px;
  -webkit-box-shadow: 5px -5px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 5px -5px 6px rgba(0, 0, 0, 0.06);
  background: lightgray;
  content: "";
}

.top-content__scroll-wrapper::after {
  position: absolute;
  top: 13px;
  left: 60px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 20px;
  height: 3px;
  overflow: hidden;
  border-radius: 100px;
  -webkit-box-shadow: 5px -5px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 5px -5px 6px rgba(0, 0, 0, 0.06);
  background: lightgray;
  content: "";
}

.top-content__scroll-btn {
  display: block;
  width: 50px;
}

.top-content__scroll-btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-box-shadow: 5px -5px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 5px -5px 6px rgba(0, 0, 0, 0.06);
  background: lightgray;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: .5s;
  transition: .5s;
}

.top-content__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 70%;
  height: 360px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.7);
}

.top-content__profile::before {
  position: absolute;
  top: 20px;
  z-index: -200;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  background: rgba(0, 0, 0, 0.06);
  content: "";
}

.top-content__profile-herder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-content__profile-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  overflow: hidden;
  border: 5px solid #c4c4c4;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.15);
}

.top-content__profile-name {
  position: relative;
  font-size: 1.8rem;
}

.top-content__profile-name::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.7);
  content: "";
}

.top-content__profile-texts {
  width: 250px;
  margin-top: 50px;
  font-size: 1.6rem;
}

.posts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;
}

.posts-content__new-post {
  position: relative;
  width: 370px;
  padding: 30px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.15);
}

.posts-content__new-post::before {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.06);
  content: "";
}

.posts-content__header {
  position: relative;
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.posts-content__header h2 {
  font-size: 1.8rem;
}

.posts-content__header::before {
  position: absolute;
  top: 8px;
  left: 120px;
  width: 50px;
  height: 2px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.7);
  content: "";
}

.posts-content__text {
  color: rgba(255, 255, 255, 0.7);
}

.posts-content__text h3 {
  margin-top: 20px;
  font-size: 1.6rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.posts-content__text h3:hover {
  color: rgba(134, 134, 134, 0.7);
}

.posts-content__text p {
  margin-top: 20px;
  font-size: 1.3rem;
}

.archive-content {
  position: relative;
  width: 350px;
  max-height: 400px;
  margin-top: 40px;
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.15);
}

.archive-content::before {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  background: rgba(0, 0, 0, 0.06);
  content: "";
}

.archive-content__wrapper {
  width: 300px;
  height: 370px;
  margin-left: 30px;
  overflow: auto;
}

.archive-content__header {
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.9rem;
}

.archive-content__datelist {
  margin-top: 10px;
  overflow: auto;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.6rem;
}

.archive-content__item {
  margin-bottom: 13px;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-top: 20px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 90%;
  height: 80%;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.7);
}

.footer-content::before {
  position: absolute;
  top: 10px;
  left: -10px;
  z-index: -100;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  background: rgba(0, 0, 0, 0.06);
  content: "";
}

.post-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.post-container__content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.post-container__header {
  width: 90%;
  height: 50px;
  margin: 30px auto 0 auto;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

.post-container__header h2 {
  padding-top: 15px;
}

.post-container__content-item {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 30px;
  overflow: hidden;
  border-radius: 30px;
}

.post-container__content-item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s;
  transition: .3s;
  content: "";
}

.post-container__content-item:hover::before {
  background-color: transparent;
}

.post-container__content-item a img {
  -o-object-fit: cover;
     object-fit: cover;
}

.post-container__content-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .header {
    height: 100px;
  }
  .header-container {
    position: relative;
    z-index: 100;
    height: 80%;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.15);
  }
  .header-texts {
    margin-left: 50px;
    text-align: start;
  }
  .header__logo {
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header__logo:hover {
    color: rgba(134, 134, 134, 0.7);
  }
  .header-nav {
    margin-right: 85px;
  }
  .header-nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-nav__menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    width: auto;
    height: 114px;
    margin-left: 30px;
  }
  .header-nav__menu-item a {
    height: 100%;
    padding-top: 40px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header-nav__menu-item:hover a {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    color: rgba(134, 134, 134, 0.7);
  }
  .top-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1200px;
    height: 520px;
    margin: 0 auto;
    padding: 0 120px;
  }
  .top-content__twitter-wrapper {
    -webkit-transform: perspective(1000px) rotateY(10deg);
            transform: perspective(1000px) rotateY(10deg);
    width: 530px;
    height: 430px;
    overflow: auto;
    border-radius: 30px;
    -webkit-filter: drop-shadow(20px 20px 6px rgba(0, 0, 0, 0.06));
            filter: drop-shadow(20px 20px 6px rgba(0, 0, 0, 0.06));
  }
  .top-content__scroll-wrapper {
    position: relative;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: 300px;
  }
  .top-content__scroll-wrapper::before {
    position: absolute;
    top: 20px;
    left: 3px;
    width: 75px;
    height: 3px;
    overflow: hidden;
    border-radius: 100px;
    -webkit-box-shadow: 5px -5px 6px rgba(0, 0, 0, 0.06);
            box-shadow: 5px -5px 6px rgba(0, 0, 0, 0.06);
    background: lightgray;
    content: "";
  }
  .top-content__scroll-wrapper::after {
    position: absolute;
    top: 13px;
    left: 60px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 20px;
    height: 3px;
    overflow: hidden;
    border-radius: 100px;
    -webkit-box-shadow: 5px -5px 6px rgba(0, 0, 0, 0.06);
            box-shadow: 5px -5px 6px rgba(0, 0, 0, 0.06);
    background: lightgray;
    content: "";
  }
  .top-content__scroll-btn {
    display: block;
    width: 50px;
  }
  .top-content__scroll-btn span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    -webkit-box-shadow: 5px -5px 6px rgba(0, 0, 0, 0.06);
            box-shadow: 5px -5px 6px rgba(0, 0, 0, 0.06);
    background: lightgray;
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .top-content__scroll-btn span:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    color: rgba(134, 134, 134, 0.7);
  }
  .top-content__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 370px;
    height: 360px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.7);
  }
  .top-content__profile::before {
    position: absolute;
    top: 20px;
    z-index: -200;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    border-radius: 30px;
    -webkit-filter: blur(6px);
            filter: blur(6px);
    background: rgba(0, 0, 0, 0.06);
    content: "";
  }
  .top-content__profile-herder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-content__profile-img {
    width: 125px;
    height: 125px;
    margin-right: 20px;
    overflow: hidden;
    border: 5px solid #c4c4c4;
    border-radius: 50%;
    -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.15);
            box-shadow: 0 10px 6px rgba(0, 0, 0, 0.15);
  }
  .top-content__profile-name {
    position: relative;
    font-size: 3rem;
  }
  .top-content__profile-name::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.7);
    content: "";
  }
  .top-content__profile-texts {
    width: 250px;
    font-size: 2rem;
  }
  .posts-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 120px auto 0 auto;
    padding: 0 120px;
  }
  .posts-content__new-post {
    position: relative;
    width: 600px;
    padding: 50px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.15);
  }
  .posts-content__new-post::before {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    -webkit-filter: blur(6px);
            filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.06);
    content: "";
  }
  .posts-content__header {
    position: relative;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  .posts-content__header h2 {
    font-size: 3rem;
  }
  .posts-content__header::before {
    position: absolute;
    top: 13px;
    left: 180px;
    width: 80px;
    height: 5px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.7);
    content: "";
  }
  .posts-content__text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2rem;
  }
  .posts-content__text h3 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .posts-content__text h3:hover {
    color: rgba(134, 134, 134, 0.7);
  }
  .posts-content__text p {
    margin-bottom: 20px;
  }
  .archive-content {
    position: relative;
    -webkit-transform: perspective(1000px) rotateY(-20deg);
            transform: perspective(1000px) rotateY(-20deg);
    width: 310px;
    max-height: 550px;
    padding: 30px 30px 30px 60px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.15);
  }
  .archive-content::before {
    position: absolute;
    top: 10px;
    left: -10px;
    z-index: -100;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    -webkit-filter: blur(6px);
            filter: blur(6px);
    background: rgba(0, 0, 0, 0.06);
    content: "";
  }
  .archive-content__wrapper {
    width: 265px;
    height: 500px;
    overflow: auto;
  }
  .archive-content__header {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 3rem;
  }
  .archive-content__datelist {
    overflow: auto;
    color: rgba(255, 255, 255, 0.7);
    font-size: 2rem;
  }
  .archive-content__item {
    margin-bottom: 13px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .archive-content__item:hover {
    color: rgba(134, 134, 134, 0.7);
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}
/*# sourceMappingURL=solid-action.css.map */